//baseWidth
$base-width: 1860px;

// $main-fonts: "Sawarabi Mincho", serif;
$main-fonts: Sawarabi Mincho, "Sawarabi Mincho", sans-serif;

//color common
$color-white-1: #fff;
$color-green-1: #25a989;
$color-green-2: rgba(47, 79, 79, 0.5);




