<div class="c-animation">
    <div class="c-leaves">
        <img id="leavesTop" class="c-leaves c-leaves__top " src="/assets/img/animation/leavesTop.png" alt=" leaves">
        <img id="leavesRight" class="c-leaves c-leaves__right pc--only" src="/assets/img/animation/leavesRight.png"
            alt="leaves">
        <img id="leavesRightSP" class="c-leaves c-leaves__right sp--only" src="/assets/img/animation/leavesRightSP.png"
            alt="leaves">
    </div>
    
</div>