<footer class="c-footer container--white" id="footer">
    <div class="c-footer__content l-container--fluid">
        <div class="c-footer__left ">
            <p class="c-footer__cap">商品に関するお問い合わせは
            </p>
            <h2 class="c-footer__title">健栄製薬株式会社
            </h2>
            <h3 class="c-footer__contact pc--only">TEL | 06-6231-5626　受付時間 | 8:45〜17:30(土日祝日を除く)</h3>
               <h3 class="c-footer__contact tab--only">TEL |｜<a href="tel:06-6231-5626">06-6231-5626</a>　受付時間 |｜8:45〜17:30(土日祝日を除く)</h3>
       
        </div>
        <div class="c-footer__right">
            <a class="c-footer__logo" href="/">
                <picture>
                    <source srcset="/assets/img/footer/logo_keneiSP.png" media="(max-width: 767px)">
                    <img src="/assets/img/footer/logo_kenei.png" alt="KENEI Pharmaceutical">
                </picture>
              
                </a>
            <h3 class="c-footer__copyright">©KENEI Pharmaceutical</h3>
        </div>
    </div>


</footer>